node_modules
build
dist
.react-router
*.tsbuildinfo

# env
.env/.env.*.local
.env/.env.local

# editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs
*.log
npm-debug.log*

# coverage
coverage
